- content_for :title, "Question #{@question_no}"
- content_for :body_class, 'has_background'
- content_for :stylesheets do
  = stylesheet_link_tag 'animate', media: :all
  = stylesheet_link_tag 'pages/test', media: :all
  = stylesheet_link_tag 'katex', media: :all
- content_for :javascripts do
  = javascript_include_tag 'katex'
  = javascript_include_tag 'pages/test'

%h1
  %p.text-right
    %small.strong Question:
    %small #{@question_no}/#{@current_test.questions.count}
  Q#{@question_no}
  %small#question
    = @question_text

    -if @has_reading
      .audio-speaker
        %audio{:src => @question_reading, :controls => "controls", :id => "audio"}
        .icon
          = fa_icon 'volume-off'
.alert.alert-warning.margin-top-20#warning-message.animated.bounceIn.hidden
  You seem to be having trouble with this one... would you like a little more time?
  .btn.btn-primary#extend.margin-left-15 Extend time

- class_name = @has_picture ? 'col-md-6' : 'col-md-12'
.row.question
  %form#question-form{:class => class_name, :method => 'post'}
    - @equations.each do |e|
      .render-latex.h2
        = e.text
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = hidden_field_tag :time_taken, @time_taken, :id => 'time-taken'
    - if @question_type == 'MultipleChoiceQuestion'
      %ul.answers
        - @answers.each_with_index do |a, i|
          %li
            %input{:id => i, :type => 'radio', :name => 'answer', :value => a.answer_text}
            %label.answer{:for => i}
              = a.answer_text
    - else
      .input-question
        %input.answer.form-control{:autofocus => 'autofocus',:autocomplete => "off", :type => 'text', :name => 'answer', :id => "answer_input", :placeholder => 'Enter your answer here...'}

    %input.btn.btn-success.pull-right#submit.hidden{:type => 'submit', :value => 'Submit Answer', :name => 'submit_answer'}
    %input.btn.btn-default#skip{:type => 'submit', :value => "I don't know", :name => 'skip'}

  - if @has_picture
    .col-md-6
      %img.img-thumbnail{:src => @question_picture, :alt => "Picture for the question"}
